body{
    background-color: aliceblue !important;
    font-family: 'Roboto Slab', serif;
}
.frcontainer
{
    width: 100%;
    height:100%;
}

.float-right
{
    float:right;
}

.bg-color-yellow
{
    box-shadow: 0 10px 20px rgb(0 0 0 / 10%);
    background-color: #FFEB3B;
    border:none;
}
.header-nav
{
    background-color: #ffff01;
}
.navbar li a
{
    color: black !important;
    font-family: 'Roboto Slab', serif;
    font-weight: 600;
    transition: color .3s linear, background .3s linear;
    background-color: transparent;
    opacity: 0.9;
}
.carousel-container
{
    width:100%;
}

.img-fullwidth
{
    width:100%;
}

section{
    margin-top:1% !important;
}
.bg-color-silver-deep
{
   background-color:  #fff9c2;
}

h2{
    font-family: 'Roboto', sans-serif;
    font-size:25px;
}
section .container{
    padding-top: 20px;
}

.text-theme-colored2
{
   color: #fe1609 !important
}

.section-title p
{
    font-size: 14px;
    font-family: 'Roboto', sans-serif;
    font-weight:600;
    opacity: .8;

}

.double-line-bottom-theme-colored-2 {
    margin-bottom: 20px;
    margin-top: 8px;
    padding-bottom: 5px;
    position: relative;
}
.double-line-bottom-theme-colored-2::before
{
    border-radius: 8px;
    bottom: -1px;
    content: "";
    height: 6px;
    left: 10px;
    position: absolute;
    width: 24px;
    background: #fe1609;
}

.double-line-bottom-theme-colored-2::after {
    border-radius: 8px;
    bottom: 1px;
    content: "";
    height: 2px;
    left: 0;
    position: absolute;
    width: 64px;
    background: #fe1609;
}
h4
{
    font-size:16px !important;
    color:#fe1609;
}

a {
    color: #999999;
    text-decoration: none;
}

.p-20
{
    padding:20px;

}
.pt-15
{
    padding-top:15px;
}
.row .conatiner .clearfix::before
{
    display: table;
    content: " ";
}

.row .conatiner .clearfix::after
{
    display: table;
    content: " ";
}

.pull-left {
    float: left!important;
}
ul, ol {
    list-style: none;
    margin: 0;
    padding: 0;
}
.list-inline>li {
    display: inline-block;
    padding-right: 5px;
    padding-left: 5px;
}
.review-stars i {
    color: #fe1609;
}
.mt-15 {
    margin-top: 15px !important;
}

.course-meta li {
    border-right: 1px solid #2123316e;
    /* padding: 0 18px; */
}

.course-meta li:last-child {
    border-right: none;
}
.pl-0{
    padding-left: 0px;
}

.item img{
    height: 280px;
}

.widget {
    margin-bottom: 40px;
}
.footer .widget .widget-title {
    margin-top: 0px;
}
.widget.dark .widget-title {
    color: #fff;
}
.widget .widget-title {
    margin-top: 0;
    margin-bottom: 20px;
}

.footer a:focus, .footer a:hover, .footer a:active {
    color: #666666;
}

h5
{
    font-size:14px !important;
    font-family: 'Roboto', sans-serif;
    font-weight:600;
    color:#666666 !important;
}

.white
{
    color:#666666;
    font-family: 'Roboto', sans-serif;
}

footer a{
    font-family: 'Roboto', sans-serif;
}

.line-bottom-theme-colored-2:after {
    border-radius: 10px;
    bottom: -1px;
    content: "";
    height: 2px;
    left: 0;
    position: absolute;
    width: 50px;

}
.widget .styled-icons li {
    margin-bottom: 0;
    padding-bottom: 0;
}
.styled-icons li {
    display: inline-block;
    margin-bottom: 0;
    margin-top: 0;
}

.pt-30
{
    padding-top: 30px;

}
.pb-20
{
    padding-bottom: 20px;;
}
h3, h4, h5, h6, .h3, .h4, .h5, .h6 {
    font-family: 'Roboto Slab', serif;
    font-weight: 400;
    line-height: 1.42857143;
    color: #eb0009;
}
h4, .h4 {
    font-size: 18px;
}
.widget {
    margin-bottom: 40px;
}
.container {
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}
.text-black-777 {
    color: #777777 !important;
    font-family: 'Roboto Slab', serif;
    font-weight: 400;
}
.m-0 {
    margin: 0px !important;
}
.font-12 {
    font-size: 12px !important;
    color: #777777 !important;
    font-family: 'Roboto Slab', serif;
}
.mt-5{
    margin-top:5px !important;
}

.line-bottom-theme-colored-2 {
    position: relative;
    margin-bottom: 30px;
    padding-bottom: 10px;
}
.line-bottom-theme-colored-2::after{
    background-color: #eb0009;
}
.content
{
    margin-top: 60px;
}
.pt-56px
{
    padding-top:56px;
}
.navbar-header a
{
    font-weight:600;
    font-size:18px;
    color:red;
}
/* .navbar-nav li:hover
{
    border-radius: 100%;
    background-color: red;
} */

.navbar-nav li a::after {
    content: '';
    display: block;
    height: 2px;
    background: red;
    width: 0;
    transition: width .3s;
}

.navbar-nav li a:hover::after {

    width: 100%;
    display: block;
}

.h-140px
{
    height:140px !important
}
.br-shadow
{
    border: 1px solid #CACACA;
    box-shadow: 0 0 4px rgb(0 0 0 / 10%);
}
.bg-col-white
{
    background-color: white;
}

.rounded
{
    border-radius: 10px;
}
.position-absolute
{
    position:absolute !important;
    z-index: 999 !important;

}

.hide
{
    display: none;
}

.home:hover + .hide {
    display: block !important;
}

.about:hover + .hide
{
    display: block !important;
}

.dvabout:hover{
    display:block !important;
    cursor: pointer !important;
}
.w-150px
{
    width:150px;
    width:250px;
}

.label-hover div:hover{
    background-color: #F5F5F5  ;
}
.label-hover label{
    cursor: pointer !important;
    font-weight:400;
}
.w90
{
    width:90%;
    margin:auto !important;
}

.dvhome:hover{
    display:block !important;
    cursor: pointer !important;
}

.active::after
{
    content: '';
    display: block;
    height: 2px;
    background: red;
    width: 100% !important;
    transition: width .3s;
}
.animation {
    -webkit-animation: glow 1500ms infinite;
    -moz-animation: glow 1500ms infinite;
    -o-animation: glow 1500ms infinite;
    animation: glow 1500ms infinite;
}

  .animation  {
 
    -webkit-animation: glowing 1500ms infinite;
    -moz-animation: glowing 1500ms infinite;
    -o-animation: glowing 1500ms infinite;
    animation: glowing 1500ms infinite;
  }
  /* @-webkit-keyframes glowing {
    0% { background-color: #FFEB3B; -webkit-box-shadow: 0 0 3px #FFEB3B; }
    50% { background-color: #1900ff; -webkit-box-shadow: 0 0 50px #FF0000; }
    100% { background-color: #FFEB3B; -webkit-box-shadow: 0 0 3px #FFEB3B; }
  } */
  
  /* @-moz-keyframes glowing {
    0% { background-color: #FFEB3B; -moz-box-shadow: 0 0 3px #FFEB3B; }
    50% { background-color: #1900ff; -moz-box-shadow: 0 0 50px #FF0000; }
    100% { background-color: #FFEB3B; -moz-box-shadow: 0 0 3px #FFEB3B; }
  } */
  
  /* @-o-keyframes glowing {
    0% { background-color: #FFEB3B; box-shadow: 0 0 3px #FFEB3B; }
    50% { background-color: #1900ff; box-shadow: 0 0 50px #e90618; }
    100% { background-color: #FFEB3B; box-shadow: 0 0 3px #FFEB3B; }
  } */
  
  @keyframes glowing {
    0% { background-color: #FFEB3B; box-shadow: 0 0 3px #FFEB3B; }
    50% { background-color: #1900ff; box-shadow: 0 0 50px #1900ff; }
    100% { background-color: #FFEB3B; box-shadow: 0 0 3px #FFEB3B; }
  }
.bg-col-pink
{
    background-color :#f00;
}

h1{
    font-size: 30px;
    font-weight: 600;
}

.col-white
{
    color:white !important;
}
.fs-20
{
    font-size:20px !important;
}
.fw-bold
{
    font-weight:bold !important;
}
.bck-img-about{
    background-image: url("./aboutbackground.jpg");
}
.h2schoolname
{
    font-size: 30px;
    font-weight: bold;
    text-shadow: 0px 2px black;
    color: red;
}
.bg-col-green
{
    background-color: #8CC542;
}
.m-footer-school h2 {
    margin-top: 67px;
    font-family: 'Alegreya',serif;
    width: 100%;
    margin-bottom: 22px;
    font-weight: bold;
    font-size: 30px;
    float: none;
    color: #fff;
}
b, strong {
    font-weight: 700;
}
.footer-top
{
    color:white !important;
}
.m-footer-social a
{
    color: white !important;
    text-transform: none;
    text-decoration: none !important;
    margin-right: 5px;
    margin-left: 5px;
    font-size: 16px;
    font-weight: 700;
}
.soc-link {
    width: 49px;
    height: 49px;
    line-height: 49px;
    text-align: center;
    background: #fff;
    color: #8cc542;
    border-radius: 50px;
    font-size: 20px;
    float: left;
    margin-left: 5px;
}
.fs-18{
 font-size: 18px;
}

.sticky {
    position: fixed;
    top: 0;
    left:0;
    right:0;
    width:100%;
    z-index:9999;
  }

  .subnavbar li
  {
    border-radius: 10px;
  }
  .subnavbar li a
  {
    color:white !important;
    font-size: 18px;
    font-weight:600;
  }

  .mr-10px
  {
    margin-right:10px;
  }

  .container-header-bottom {
    width: 815px !important;
}

@media (min-width: 1400px)
{
    .container {
        max-width: 1721px !important;
        }
    .m-btm-2-1400
    {
        margin-bottom: 2% !important;
    }
}

@media (max-width: 768px)
{
    .lgdevice
    {
        display : none !important;
    }
}

@media (min-width: 769px)
{
    .mdisplay
    {
        display : none !important;
    }
}
.w0{
    width:0;
}
.top60
{
    top:60;
}
.right0{
    right:0;
}
.transition5
{
    transition: 0.5s;
}
.closeicon
{
    display: block !important;
    text-align: right;
    /* margin-right: 24px; */
    width: 95% !important;
    margin-top: 10px;
    margin-bottom: 15px;
}
.line-height2
{
    line-height: 2;
}
.fa-plus-style
{
    margin-left: auto;
    margin-right: 8px;
}
  
